/*:root {*/
    /*--jumbotron-padding-y: 3rem;*/
/*}*/

/*.jumbotron {*/
    /*padding-top: var(--jumbotron-padding-y);*/
    /*padding-bottom: var(--jumbotron-padding-y);*/
    /*margin-bottom: 0;*/
    /*background-color: #fff;*/
/*}*/
/*@media (min-width: 768px) {*/
    /*.jumbotron {*/
        /*padding-top: calc(var(--jumbotron-padding-y) * 2);*/
        /*padding-bottom: calc(var(--jumbotron-padding-y) * 2);*/
    /*}*/
/*}*/

/*.jumbotron p:last-child {*/
    /*margin-bottom: 0;*/
/*}*/

/*.jumbotron-heading {*/
    /*font-weight: 300;*/
/*}*/

/*.jumbotron .container {*/
    /*max-width: 40rem;*/
/*}*/

footer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;;
}

footer p {
    margin-bottom: .25rem;
}

.center {
    text-align: center;
}

.pd-10 {
    padding: 10px;
}

.mg-auto {
    margin: 0 auto;
}

/*.jumbotron {*/
    /*padding-top: 30px !important;*/
    /*padding-bottom: 30px !important;*/
/*}*/