<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('CLX europe | Users example')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Styles -->
    <?= $this->headLink(['rel'  => 'shortcut icon',
                         'type' => 'image/vnd.microsoft.icon',
                         'href' => $this->basePath() . '/img/favicon.ico',
    ])
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/datatables.min.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
    ?>

</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="javascript:void(0)" class="navbar-brand d-flex align-items-center">
                <strong>CLX europe</strong>
            </a>
        </div>
    </div>
</header>

<main role="main">
    <?= $this->content; ?>
</main>

<hr>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Users example for CLXeurope</p>
    </div>
</footer>

<!-- Scripts -->
<?= $this->inlineScript()
    ->prependFile($this->basePath('js/main.js'))
    ->prependFile($this->basePath('js/bootstrap.min.js'))
    ->prependFile($this->basePath('js/datatables.min.js'))
    ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
    ->prependFile($this->basePath('js/moment.min.js'))
?>

</body>
</html>
