<section class="text-center ">
    <div class="container">
        <h1 class="jumbotron-heading">Users example</h1>
        <p class="lead text-muted">Pre-configured example requests</p>
        <p>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-1">All users</a>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-2">Active users</a>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-3">Surname B...</a>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-7">Name P...</a>
        </p>
        <p>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-4">Active & To 19/10/2015</a>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-5">Active & From 15/10/2015</a>
            <a href="javascript:void(0)" class="btn btn-primary settings"
               id="presetting-6">Active & 10-19/10/2015</a>
        </p>
        <div class="mb-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" checked
                       name="viewOptions" id="viewOptions1" value="table">
                <label class="form-check-label" for="viewOptions1">Table</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="viewOptions" id="viewOptions2" value="thumb">
                <label class="form-check-label" for="viewOptions2">Thumb</label>
            </div>
        </div>
    </div>
</section>

<div class="py-5">
    <div class="container">

        <div class="row" id="table">
            <div class="col-md-12">
                <table class="table" id="data-table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Active</th>
                            <th scope="col">Last login</th>
                            <th scope="col">Picture</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-center" id="thumb">
        </div>

    </div>
</div>
